html {
    box-sizing: border-box;
    font-family: 'Lato';
}

body {
    margin: 0;
    padding: 0;
}


.header {
    display: flex;
    width: 100%;
    height: 5%;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    align-items: center;
}

.p1 {
    font-weight: 900;
}

.p2 {
    font-weight: 100;
}

.menu {
    display: flex;
    justify-content: center;
}

.menutext {
    font-size: 16px;
    /* margin-top: 17px; */
    margin-left: 30px;
    
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 1%;
}

.cashout {
    display: flex;
    width: fit-content;
    margin-right: 1%;
    align-items: center;
}

.buynow-btn {
    background-color: rgb(10, 180, 195);
    text-align: center;
    color: white;
    border: none;
    border-radius: 10%;
    padding: 10px 20px;
    margin-right: 10px;
}

.content-wrap {
    display: flex;
    flex-direction: row;
    /* height: 580px; */
    background-color: rgb(247, 250, 252);
    justify-content: space-between;
    padding-left: 12%;
    padding-bottom: 5%;
    padding-top: 4%;
}

.themes {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}

.image-wrapper p{
    font-size: 16px;
    font-weight: 400;
}

.image-wrapper img {
    width: 550px;
    height: 380px;
    border-radius: 2% 0 0 2%;
    /* box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc; */
}


.themes .top-text{
    font-size: 10px;
    color: rgb(113, 154, 154);
}

.themes .bottom-text {
    font-size: 12px;
    color: rgb(113, 154, 154);
}


.themes h1 {
    font-size: 42px;
    font-weight: 700;
}

.themes h2 {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    padding-bottom: 90px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(223, 227, 229);
}

.themes a {
    font-style: italic;
    color: rgb(31, 180, 194);
}

.container-two {
    display: flex;
    flex-direction: row;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 5%;
    padding-bottom: 5%;
    /* justify-content:space-between; */
}

.section-two-content {
    display: flex;
    width: 45%;
    flex-direction: column;
    text-align: left;
}

.content-grid {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 10px;
}

.container-two .img-container {
    display: flex;
    /* justify-content:last baseline; */
    /* max-width:130px; */
    /* max-height:95px; */
    width: 240px;
    height: 110px;
    margin-top: 30%;
    padding-right: 20%;
    /* overflow: hidden; */
}

.section-three {
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 2%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(247, 250, 252);
}

.section-three h1 {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.5;
}

.section-three h2 {
    font-size: 12px;
    margin-bottom: 0.5%;
}

.section-three p {
    margin-top: 0;
    font-size: 11px;
}

.section-three a {
    font-size: 12px;
    font-weight: 700;
    margin-top: 30%;
    color: rgb(31, 180, 194);
}

.section-three .left-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 5%;
}

.section-three .right-container {
    display: flex;
    width: 20%;
    margin-top: 3%;
    flex-direction: column;
    margin-right: 13%;
}

.section-three .right-container h3 {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(140, 140, 140);
}

.container-two h1 {
    font-size: 32px;
}

.container-two p {
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 5%;
}

.content-grid {
    font-size: 13px;
}

.section-four{
    margin-top: 3%;
    margin-bottom: 5%;
}

.section-four-text{
    display: flex;
    flex-direction: column;
    padding-left: 12%;
    width: 40%;
}

.section-four-text h1 {
    font-size: 34px;
    font-weight: 900;
    margin-bottom: 0;
}

.section-four-text p {
    font-size: 18px;
    line-height: 1.7;
    margin-top: 4%;
}

.grid-parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 4%;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 17%;
}

.section-four img {
    width: 100%;
    height: 100%;
    margin-bottom: 3%;
}

.grid-parent div {
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.grid-parent h1{
    margin-top: 3%;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 900;
}

.grid-parent p{
    margin-top: 0;
    font-size: 14px;
}



.footer {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    background-color: rgb(39, 51, 61);
    color: white;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: center;
    margin-top: 26px;
    /* margin-left: 25%; */
    /* margin-right: 25%; */
    /* align-items: center; */
}

.footer-first-row {
    /* display: flex; */
    /* flex-direction: column; */
    /* margin-left: 15%; */
    /* margin-right: 15%; */
    width: 12%;
    margin-left: 100px;
    margin-right: 100px;
}

.footer-second-row {
    width: 12%;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 10px;
}

.last-cell {
    width: 12%;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 10px;
}

.footer-content table {
    border-collapse: separate;
    border-spacing: 50px 0;
}

.footer-content th {
    vertical-align: top;
    text-align: left;
}



.footer-first-row h1 {
    font-size: 14px;
}

.footer-first-row p {
    font-size: 11px;
    color: rgb(113, 154, 154);
}

.footer-second-row h1{
    font-size: 18px;
    margin-top: 20px;
}

.footer-second-row h2 {
    font-size: 14px;
    margin-top: 20px;
}

.footer-second-row p {
    font-size: 11px;
    color: rgb(113, 154, 154);
}

.last-cell h1 {
    font-size: 14px;
    margin-top: 20px;
}

.last-cell a {
    font-size: 11px;
    color: rgb(30, 180, 194);
}

.contact-policy {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(52, 62, 71);
}

.contact-logo {
    margin-left: 15%;
}

.contact-logo img {
    width: 15px;
    height: 15px;
    border-radius: 15%;
    margin-right: 5px;
}

.policy-text {
    margin-right: 15%;
}

.policy-text p {
    font-size: 10px;
}

.copyright {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 30px;
}

.copyright p {
    font-size: 10px;
}

/*
.footer-content-second {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    justify-content: center;
    margin-top: 26px;
}

.footer-item-second {
    display: grid;
    margin-left: 15%;
    margin-right: 15%;
}

.footer-item-second h1 {
    width: 200px;
    font-size: 14px;
}

.footer-item-second p {
    font-size: 10px;
    color: rgb(113, 154, 154);
} */

  

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}